.thanks__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

h2 {
    color: rgb(175, 104, 104);
}

.thanks__heading {
    margin-bottom: 40px;
    text-align: center;
    background-color: rgb(175, 104, 104);
    color: white;
}